<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>statri- login</title>
</head>
<body>
    <form id="loginForm" >
        <label for="emailLabel" class="emailLabel">Email</label>
        <input type="text" id="emailInput" class="emailInput" placeholder="Insira seu email">

        <label for="senhaLabel" class="senhaLabel">Senha</label>
        <input type="password" id="senhaInput" class="senhaInput" placeholder="insira sua senha">

        <button class="btnEntrar" id="btnEntrar" type="submit">entra</button>
    </form>

    <script type="module" src="../js/login.js"></script>
</body>
</html>